@font-face {
  font-family: Linux Biolinum;
  src: url("fonts/LinBiolinum_RB.otf") format("opentype");
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
    display: block;
    background: url("img/salix.svg");
    margin: 0 auto;
}

.screen {
    width: 100vw; /* 100% of viewport width */
    display: flex;
    align-items: center;
}

#screen-upper {
    background-color: #fff;
    height: 100vh;
}

#search-items,
.slide {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

/* These are the two shown by default */
#search-items,
#slide-browse-main {
    display: block;
}

.logo-header {
    display: block;
}

.logo {
    width: 75px;
    height: 67px;
    background-size: 75px 67px;
    margin: 3px auto;
}

.title {
    font-family: Linux Biolinum;
    font-size: 28px;
    text-align: center;
    margin: 3px 0;
}

#search-items form {
    display: block;
}

#searchbox {
    padding: 0;
    border: 2px solid #6c6;
    background-color: #6c6;
    width: 100%;
    display: inline-flex;
    margin: 3px 0;
    box-sizing: border-box;
}

#searchbox #search {
    font-size: 16px;
    border: 0;
    padding: 2px;
    width: 100%;    
}

.button {
    background-color: #6c6; /* Green */
    border: 2px solid #6c6;
    color: white;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 140px;
    height: 36px;
}

.button:hover {
    background-color: white;
    color: #333;
}

#searchbox #submit {
    border-top: 0;
    border-bottom: 0;
    border-left: 2px solid #6c6;
    border-right: 0;
    width: auto;
    height: auto;
}

/* Remove native styles from input
 * elements. Otherwise styling would be
 * off in mobile Safari at least.
 */
input {
   -webkit-appearance: none;
   -moz-appearance: none;
}

.options {
    display: block;
    text-align: center;
    margin: 3px auto;
    width: 100%;
}

.options .edgespace {
    flex: auto;
}

.options .midspace {
    flex: auto;
    max-width: 20px;
}

.select {
    margin: 3px 0;
}

.select select {
    flex: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    width: 140px;
    height: 36px;
    overflow: hidden;
    background: url("img/selector-arrow.svg") no-repeat right #6c6;
    color: white;
    font-size: 12px;
    padding: 2px;
    border: 2px solid #6c6;
    margin: 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.select p {
    margin: 0;
}

.select select:hover {
    background: url("img/selector-arrow.svg") no-repeat right white;
    color: #333;
}

.select select option {
    padding: 8px;
    background-color: white;
}

#screen-lower {
    background-color: #cf9;
    min-height: 100vh;
}

#screen-lower #browsebtn {
    margin: auto 3px 5px 2px;
}

#repo-list {
    display: block;
}

.item {
    display: flex;
    flex: wrap;
    background-color: #6c6;
    color: white;
    border: 2px solid #6c6;
    border-radius: 10px;
    padding: 6px;
    margin: 6px;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.item:hover {
    cursor: pointer;
    background-color: white;
    color: #333;
}

.item .name {
    font-weight: bold;
    margin: 0 12px 0 0;
}

.item .version {
    font-weight: bold;
    font-style: italic;
}

.item .release {
    font-style: italic;
}

.item .description {
    font-style: italic;
    margin: auto;
}

#slide-details .item {
    display: block;
    background-color: white;
    color: black;
    cursor: text;
    margin: auto;
}

#slide-details .info {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
    vertical-align: top;
}

#slide-details .info .text {
    display: block;
}

#slide-details .info p {
    margin: 10px;
}

#slide-details h1 {
    font-size: 12px;
    margin: 10px;
}

#slide-details .info a {
    margin-right: 5px;
}

.arrow {
    height: 40px;
    width: 40px;
    bottom: 5px;
    right: 5px;
    background-color: #6c6;
    background-image: url("img/arrow.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 50%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.arrow:hover {
    height: 42px;
    width: 42px;
}

#up-arrow {
    bottom: -45px;
    transform: rotate(180deg);
}

.left-arrow {
    bottom: -45px;
    left: 5px;
    transform: rotate(90deg);
}

@media all and (min-width: 600px) {
    #search-items,
    .slide {
        width: 70%;
    }

    .logo {
        width: 100px;
        height: 90px;
        background-size: 100px 90px;
        margin: 6px auto;
    }

    .title {
        font-size: 36px;
        margin: 6px 0;
    }

    #searchbox {
        margin: 6px;
    }

    .button {
        padding: 6px 16px;
    }

    .options {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        margin: 6px;
    }

    #screen-lower .options {
        display: flex;
        flex-direction: row;
        flex-wrap: row;
        margin: 6px;
    }
}

@media all and (min-width: 800px) {
    #search-items,
    .slide {
        max-width: 600px;
    }
}

@media all and (max-height: 320px) {
    /* Restore vertical scrollbar for
     * small screens
     */
    body {
        overflow-y: auto;
    }

    .logo-header {
        display: flex;
        flex-direction: row;
        vertical-align: middle;
    }

    .logo-header .edgespace {
        flex: auto;
    }

    .logo {
        width: 50px;
        height: 45px;
        background-size: 50px 45px;
        margin: auto;
    }

    .title {
        font-size: 28px;
        margin: 3px 0;
    }

    #searchbox {
        margin: 3px;
    }

    .options {
        margin: 3px;
    }
}